*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background: #141414;
    letter-spacing: 0.62px;
    color: white;
}

.glider img {
    width: 100%;
    height: 100%;
}

.glider {
    overflow: hidden;
    height: 25vh;
    display: flex;
    align-items: center;
    background: transparent;
}

.glider-track {
    height: 70%;
}

.glider-prev {
    display: none;
}

.glider-next {
    display: none;
}